---
---

@import "{{ site.theme }}";

img {
    display: inline-block;
    vertical-align: bottom;
    padding: 1px;
    margin: 2px 0 2px 0;
  }

p img {
    display: inline-block;
    vertical-align: bottom;
  }

body {
	background: #444444;
}

#main_content_wrap {
	min-height: 100vh;
	border-top: 0px;
	border-bottom: 0px;
}